<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center" >Terms & Conditions</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"  class="ion-text-center">
  <p><strong>ROBERTONS 100 YEAR OWN YOUR FLAVOUR COMPETITION:</strong></p>
  <p><strong>UNILEVER MOBISITE </strong></p>
  <p><strong>&nbsp;</strong></p>
  <p><strong>TERMS &amp; CONDITIONS</strong></p>
  <p><strong>&nbsp;</strong></p>
  <p><strong>COMPETITION DATES: 21 MAY 2024 &ndash; 25 AUGUST 2024</strong></p>
  <p>&nbsp;</p>
  <ol>
    <li>The promoter is Unilever South Africa (Pty) Ltd (&ldquo;the Promoter&rdquo;) and Tradeway Promotions is the &ldquo;Promoter Agent&rdquo;.</li>
  </ol>
  <p>&nbsp;</p>
  <ol start="2">
    <li>The promotional competition is open to all South African residents in possession of a valid identity document.</li>
  </ol>
  <p>&nbsp;</p>
  <ol start="3">
    <li>The promotional competition is only open to participants over the age of 18.</li>
  </ol>
  <p>&nbsp;</p>
  <ol start="4">
    <li>These Terms and Conditions will prevail in the event of any conflict or inconsistency with any other communications sent to you by us, including advertising or Promotional materials. Prize redemption instructions are deemed to form part of the Terms and Conditions.</li>
  </ol>
  <p>&nbsp;</p>
  <ol start="5">
    <li>The promotional competition is not open to any director, member, partner, employee, agent or consultant of the Promoter, the marketing service providers or any person who directly or indirectly controls or is controlled by these entities, including their spouses, life partners, business partners or immediate family members.</li>
  </ol>
  <p>&nbsp;</p>
  <ol start="6">
    <li>By participating in this competition participants are asked to opt In to receive future marketing material from the brand/s on promotion. The participant is under no obligation to opt In in order to still enter the promotional competition.</li>
  </ol>
  <p>&nbsp;</p>
  <ol start="7">
    <li>All personal information (&lsquo;Personal Data&rsquo;) supplied by participants shall be processed in accordance with South African data protection legislation and the Promoter&rsquo;s Privacy Policy.</li>
  </ol>
  <p>&nbsp;</p>
  <ol start="8">
    <li>This promotional competition is open from <strong>21 MAY 2024 </strong>09:00am and ends at 12am (midnight) on<strong> 25<sup>th</sup> AUGUST 2024</strong>. Any entries received after the closing date will not be considered.&nbsp;</li>
  </ol>
  <p>&nbsp;</p>
  <p><strong>&nbsp;</strong></p>
  <p><strong>&nbsp;</strong></p>
  <p><strong>ENTRY REQUIRMENTS</strong></p>
  <p>&nbsp;</p>
  <ol start="9">
    <li>To enter, participants will be required to <strong>purchase any 2 (TWO) Robertson spices Refills or Bottles </strong></li>
  </ol>
  <p>&nbsp;</p>
  <p>In order to qualify entry, participants will be required to flow the below step by step guide:</p>
  <ul>
    <li>Step 1: Dial <strong>Scan QR Code</strong></li>
  </ul>
  <p>Step 2: Confirm that you are older than 18 years old</p>
  <p>Step 3: Confirm or Decline to receive offers and updates from trusted Unilever brands via SMS, Email and Online Advertising</p>
  <p>Step 4: Confirm you have you purchased 2 or more Robertson Spices and have kept your till slip for the Grand Prize draw</p>
  <p>Step 5: Confirm at which mall you are participating</p>
  <p>Step 6 &ndash; 8: Confirm your Name, Phone Number &amp; Email</p>
  <p>Step 9: Confirm you have read the Terms &amp; Conditions</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <ol start="10">
    <li>Participants must keep their till slip as proof of purchase.</li>
  </ol>
  <p>&nbsp;</p>
  <ol start="11">
    <li>Participants must scan the QR Code at the Robertsons 100 Years Roadshow Stand.</li>
  </ol>
  <p>&nbsp;</p>
  <ol start="12">
    <li>Participants must enter in their correct contact details. If a Winner has given incorrect contact details, the Promoter reserves the right to select another Winner in terms of the rules.</li>
  </ol>
  <p>&nbsp;</p>
  <ol start="13">
    <li>Participants may enter only once.</li>
  </ol>
  <p>&nbsp;</p>
  <ol start="14">
    <li>The prize:</li>
  </ol>
  <p>&nbsp;1 x Terrace Leisure Saturn 530 Gas Braai per mall, for a total of 7.</p>
  <p>&nbsp;</p>
  <ol start="15">
    <li>Any Prize not taken up for any reason within seven days of notification will be forfeited, and the winner will be required to collect their prize at the mall. If winner is unable to collect at the mall winner is responsible to collect at Tradeway Offices.</li>
  </ol>
  <p>&nbsp;</p>
  <ol start="16">
    <li>Prizes are not exchangeable or transferable.</li>
  </ol>
  <p>&nbsp;</p>
  <ol start="17">
    <li>A single person/Till slip may only win 1 Prize per competition.</li>
  </ol>
  <p>&nbsp;</p>
  <p><strong>&nbsp;</strong></p>
  <p><strong>SELECTING WINNERS </strong></p>
  <p><strong>&nbsp;</strong></p>
  <ol start="18">
    <li>1 participant will be selected as a winner per mall to receive a Prize (as per allocations and timings above)</li>
  </ol>
  <p>&nbsp;</p>
  <ol start="19">
    <li>The Winner will be required to provide their till slip, name, ID number, copy of their identity document, contact details and will be contacted to acknowledge the receipt of the prize.</li>
  </ol>
  <p>&nbsp;</p>
  <ol start="20">
    <li>The Winner(s) will be selected by means of a random draw weekly between the 27<sup>th</sup> of May 2024 and 25<sup>th</sup> August 2024 and will be notified telephonically where the Winner will be required to verify their details. The Promoter (or their agent) will endeavour to contact the prize Winner three (3) times on the day of draw after their name/number is drawn.&nbsp; If the Prize Winner cannot be contacted during this period, the Prize will be forfeited, and another Winner will be selected in accordance with the rules.&nbsp;</li>
  </ol>
  <p>&nbsp;</p>
  <ul>
    <li>Mall Of Africa &ndash; 26 May 2024</li>
    <li>Eastgate Mall &ndash; 10 June 2024</li>
    <li>Maponya Mall &ndash; 01 July 2024</li>
    <li>Tyger Valley Mall &ndash; 15 July 2024</li>
    <li>Canal Walk &ndash; 29 July 2024</li>
    <li>Gateway Theatre of shopping mall &ndash; 12 August 2024</li>
    <li>Pavilion Mall &ndash; 26 August 2024</li>
  </ul>
  <p>&nbsp;</p>
  <p><strong>&nbsp;</strong></p>
  <p><strong>DELIVERY OF PRIZE</strong></p>
  <p>&nbsp;</p>
  <ol start="21">
    <li>The Prize winners will be contacted by Promoter &ldquo;agency&rdquo; where agency will require the winner to furnish agency with the aforesaid required documentation within the day of collection of confirmation of telephonic call, once all documents have been verified, agency will arrange collection to the prize winners. If the Prize Winner cannot produce the documents during this period, the Prize will be forfeited, and another Winner will be selected in accordance with the rules.</li>
  </ol>
  <p>&nbsp;</p>
  <ol start="22">
    <li>Failure to claim the Prize or a refusal or inability to required documentation or comply with any of the competition requirements within 1 (one) day of confirmation of telephonic call, will disqualify the Winner and a new Winner will be drawn in terms of these rules.</li>
  </ol>
  <p>&nbsp;</p>
  <p><strong>PRIVACY NOTICE</strong></p>
  <p>&nbsp;</p>
  <ol start="23">
    <li>Unilever Privacy Notice can be obtained from <a href="https://www.unilevernotices.com/privacy-notices/south-africa-english.html">https://www.unilevernotices.com/privacy-notices/south-africa-english.html</a></li>
    <li>This promotion is in no way sponsored, endorsed or administered by, or associated with Facebook and the participants acknowledge that they are providing information to the Promoter and its agents only and not to Facebook. All participants in this Competition release Facebook from all liabilities and claims arising out of or in connection with this competition and these terms and conditions.</li>
  </ol>
  <p>&nbsp;</p>
  <p><strong>GENERAL </strong></p>
  <p><strong>&nbsp;</strong></p>
  <ol start="25">
    <li>The Winner may be required to sign an Indemnity and Media Release forms</li>
  </ol>
  <p>&nbsp;</p>
  <ol start="26">
    <li>A copy of these Terms and Conditions can be obtained from the Promoter&rsquo;s Consumer Call Centre on telephone number 0860 151&nbsp;141 or from the <a href="https://promoforce.com/100years/terms-and-conditions">https://promoforce.com/100years/terms-and-conditions</a></li>
  </ol>
  <p>&nbsp;</p>
  <ol start="27">
    <li>These Terms and Conditions will be interpreted and construed in accordance with the laws of the Republic of South Africa. All information relating to this Promotion and published on any promotional material will form part of the Terms and Conditions of entry.</li>
  </ol>
  <p>&nbsp;</p>
  <ol start="28">
    <li>As far as the law allows, all warranties and representations in relation to the Promotion not set out in these Terms and Conditions (whether express, implied or tacit) are hereby excluded.</li>
  </ol>
  <p>&nbsp;</p>
  <ol start="29">
    <li>The Promoter reserve the right to amend, modify, change, postpone, suspend or cancel this Promotion without notice at any time, for any reason which the Promoter reasonably deems necessary. In the event that the prizes are not available despite the Promoter&rsquo;s reasonable endeavours to procure the prizes, the Promoter reserves the right to substitute prizes with prizes of equal value.</li>
  </ol>
  <p>&nbsp;</p>
  <ol start="30">
    <li>The Promoter reserves the right to terminate the Promotion immediately and without notice. In the event of such termination, as far as the law allows, all participants or entrants acknowledge that they will have no recourse against the Promoter, its associated companies (directors, officers and employees) agents and suppliers, in respect thereof.</li>
  </ol>
  <p>&nbsp;</p>
  <ol start="31">
    <li>To the fullest extent permitted by law, neither the Promoter nor their partners or agents supporting the Promotion will be responsible for any loss, damage or injury whatsoever suffered by any participant/entrant or Winner or their accompanying (including but not limited to any direct, indirect, consequential, special, punitive or incidental loss or damages) or for any personal injury (whether physical or mental) suffered or sustained by any participant or Winner and/or their accompanying person(s) as a result of or in connection with the Promotion or the acceptance, use or application of the</li>
  </ol>
  <p>&nbsp;</p>
  <ol start="32">
    <li>As far as the law allows the Promoter, its associated companies (directors, officers and employees) agents and suppliers, will not be responsible for a Participant's failure to access the Promotion for any reason whatsoever including, by way of example only, as a consequence of communications or network failures.</li>
  </ol>
  <p>&nbsp;</p>
  <ol start="33">
    <li>If any provision of these Terms and Conditions is found to be invalid or unenforceable by any court of competent jurisdiction, then that provision will be severed from these Terms and Conditions and will not affect the validity or enforceability of any remaining provisions.</li>
  </ol>
  <p>&nbsp;</p>
  <ol start="34">
    <li>Failure to claim the Prize or a refusal or inability to provide required documentation or comply with any of the competition requirements within 1 (one) months for grand prize, and 2 (two) weeks for instant prizes, of the date the Winner is selected will disqualify the Winner and a new Winner will be drawn in terms of these Terms and Conditions.</li>
  </ol>
  <p>&nbsp;</p>
  <ol start="35">
    <li>The Promoter reserves the right to disqualify any claim if&nbsp;fraud or cheating is suspected, including without limitation, through the manipulation of code or otherwise frequently falsifying data.</li>
  </ol>
  <p>&nbsp;</p>
  <ol start="36">
    <li>No applications from agents, third parties, organized groups or applications automatically generated by computer will be accepted. No incomplete or corrupted entries will be accepted. Entries will only be accepted if they comply with all of the terms of these Terms and Conditions.</li>
  </ol>
  <p>&nbsp;</p>
  <ol start="37">
    <li>Any attempt to use multiple cell phone details or other tactics to enter or vote more than the stated limit may result in disqualification and all associated entries and/or votes will be void. Entries or votes generated by script, macro, bot, commercial contest subscription, incentives or other means not sponsored by the Promoter, vote-swapping sites, voting software, entering service sites or any other automated means and entries or votes by any means that subvert the entry/voting process or do not conform to the terms or spirit of these Terms and Conditions, will void the entry/votes and may disqualify the entrant.</li>
  </ol>
  <p>&nbsp;</p>
  <ol start="38">
    <li>The Promoter may in its sole discretion amend these terms and conditions at any time, without notice, and such amendment(s) will be deemed to have taken effect from the date of publication of the revised terms and condition on the <a href="https://promoforce.com/100years/terms-and-conditions">https://promoforce.com/100years/terms-and-conditions</a></li>
  </ol>
  <p>&nbsp;</p>
  <ol start="39">
    <li>The judges&rsquo; decision is final and no correspondence will be entered into.</li>
  </ol>
  <p>&nbsp;</p>
  <ol start="40">
    <li>The Promoter reserves the right to use any images taken of the Winners for publicity purposes in any manner it deems fit, without any further remuneration being made payable to the Winners, and may require the Winners to be identified, photographed and published in printed media, or to appear on radio and television, and social media when accepting the prize and/or after having received the prize. However, the Winners have the right to object, in writing, to &ndash;</li>
    <li>a) the use of their images;</li>
    <li>b) being identified, photographed and/or published in printed media; and/or</li>
    <li>c) appearing on radio, television or any digital or other platform either when or after accepting the Grand Prize.</li>
  </ol>
  <p>&nbsp;</p>
  <ol start="41">
    <li>The Promoter reserves the right to delete any information uploaded by a participant which the Promoter, in its absolute discretion, believes is illegal, obscene, offensive or defamatory, or infringes the intellectual property rights of a third party, or is otherwise inappropriate for a campaign designed for mass audience entertainment</li>
  </ol>
  <p>&nbsp;</p>
  <ol start="42">
    <li>Participants warrant that they have full rights to the images and stories that they upload and that the use of the said material will not constitute a breach of any third party&rsquo;s copyright or other intellectual property rights.</li>
  </ol>
  <p>&nbsp;</p>
  <ol start="43">
    <li>For all queries in respect of this Promotion, please contact the Unilever Customer Call Centre during office hours on number 0860 151&nbsp;141or via email on <a href="mailto:Consumer.affairs-ZA@unilever.com">Consumer.affairs-ZA{{'@'}}unilever.com</a></li>
  </ol>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p><strong>NOTE</strong>: Any attempt to use multiple cell phone details or other tactics to enter or vote more than the stated limit may result in disqualification and all associated entries and/or votes will be void. Entries or votes generated by script, macro, bot, commercial contest subscription, incentives or other means not sponsored by the Promoter, vote-swapping sites, voting software, entering service sites or any other automated means and entries or votes by any means that subvert the entry/voting process or do not conform to the terms or spirit of these competition rules, will void the entry/votes and may disqualify the entrant</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
</ion-content>
